.page {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.profileCard {
  display: flex;
  flex-direction: row;
  padding: 24px;
}

.collections {
  display: flex;
  flex-direction: column;
}

.collections li {
  list-style: none;
  align-items: center;
  padding: 12px;
  margin: 10px;
  background: rgb(219, 214, 194);
}

.avatar {
  border-radius: 50%;
}
