.page {
  display: flex;
  flex-direction: column;
  margin: 24px;
}

.profileCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  margin: 16px;
  margin-bottom: 32px;
}

.collections {
  display: flex;
  flex-direction: column;
}

.collections li {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 32px;
  margin: 12px;
  margin-left: 24px;
}

.image {
  background: rgb(219, 214, 194);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 50px;
  background-color: #426589;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
}
